// customize some Bootstrap variables
$primary: rgb(29, 161, 242)

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap"

body
  background-color: $primary

.user
  margin: 10px 30px

  h3
    color: white

.data-user
  border-left-style: solid
  border-left-color: rgba(255, 255, 255, 0.5)
  padding: 20px
  margin: 10px

.box
  width: 100%
  border-radius: 10px
  padding: 20px
  margin: 10px
  background-color: rgba(255, 255, 255, 0.8)

.image-profile
  img
    width: 100%

.tweets
  padding: 5px

.tweet
  width: 100%
  background-color: white
  border-radius: 5px
  margin-bottom: 10px
  padding-right: 0px
  padding-left: 0px

.image-tweet
  img
    width: 60px
    height: 60px

.icon-edit
  cursor: pointer
  position: absolute

  img
    width: 25px
    height: 25px

.edit-text
  cursor: pointer
  width: 25px
  height: 25px

.image-round
  text-align: center

  img
    width: 200px
    height: 200px
    border-radius: 50%
