body
  background-color: rgb(29, 161, 242)

.content
  display: flex
  justify-content: center
  align-content: center
  width: 100%
  height: 100%

.user
  margin: 10px 30px

.data-user
  border-radius: 10px
  padding: 20px
  margin: 10px

.info-user
  width: 300px
  border-radius: 10px
  padding: 20px
  margin: 10px
  background-color: rgba(255, 255, 255, 0.8)

.image-profile
  img
    width: 200px
    height: 200px

